.raf-banner-tour {
    padding: 7px 20px;
    background-color: #f7cf62;
    border-radius: 10px;
    color: #34414f;
    text-transform: uppercase;
    font-weight: 600;
}

.raf-tag {
    padding: 5px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.raf-banner-listing {
    font-size: 12px;
    padding: 7px 20px;
    background-color: #f7cf62;
    border-radius: 10px;
    color: #34414f;
    text-transform: uppercase;
    font-weight: 600;
}